.lw { font-size: 60px; }
body::before{
 margin: 0;
 min-height: 100vh;
 background-image: url("https://www.waseda.jp/fhum/hum/assets/uploads/2016/09/logo_hum_unit.png");
 background-size:cover;
 background-attachment:fixed
 
}

